{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Paciente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light p-4">
<div class="container-sm mt-5">

    <div class="card shadow p-4">

        <h2 class="mb-4 text-center">Registrar nuevo paciente</h2>

        <h6 class="mb-4 text-center" style="color: #dc3545;" >{{ error }}</h6>

        <form method="POST" class="row g-4">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <div class="col-12 text-center mt-4">
                <button type="submit" class="btn btn-outline-success"> ☑️ Guardar</button>
                <a href="{% url 'patients_list' %}" class="btn btn-outline-dark ms-2"> 🔙 Volver</a>
            </div>
        </form>

    </div>
</div>
</body>
</html>
