{% extends 'base.html' %}

{% block content %}
    
    <h2 class="mb-4 text-center">Detalles del Paciente</h2>
    <div class="container card shadow p-4">
        <h3 class="text-center">Información Personal</h3>
        <h6 class="mb-4 text-center" style="color: #dc3545;" >{{ error }}</h6>

        <form method="POST" class="row g-4">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <div class="col-12 text-center mt-4">
                <button type="submit" class="btn btn-outline-success"> 🔄️ Actualizar</button>
                <a href="{% url 'patient_visits' patient.id %}" class="btn btn-outline-primary ms-2"> 📑 Ver visitas</a>
                <a href="{% url 'patients_list' %}" class="btn btn-outline-dark ms-2"> 🔙 Volver</a>
            </div>
        </form>
    </div>

    
{% endblock %}