{% extends 'base.html' %}

{% block content %}
    <div class="container card shadow p-4 my-4">
        <h1>Lista de Pacientes</h1>

        <div class="mb-3 mt-4">
            <input type="text" id="patientSearch"  placeholder="Buscar por documento" class="form-control" style="max-width: 300px;">
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">N° documento</th>
                    <th scope="col">Género</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Barrio</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Visitas</th>
                    <th scope="col">Ver paciente</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td>{{ patient.nombres }}</td>
                    <td>{{ patient.apellidos }}</td>
                    <td>{{ patient.numero_documento }}</td>
                    <td>{{ patient.genero }}</td>
                    <td>{{ patient.direccion }}</td>
                    <td>{{ patient.barrio }}</td>
                    <td>{{ patient.departameto }}</td>
                    <td><a href="{% url 'patient_visits' patient.id %}">Ver Visitas</a></td>
                    <td><a href="{% url 'patient_detail' patient.id %}">Ver Paciente</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'create_patient' %}" style="text-decoration: none;">Registrar nuevo paciente</a>
    </div>

<script>
    document.getElementById('patientSearch').addEventListener('keyup', function() {
        let query = this.value.toLowerCase().trim();
        let rows = document.querySelectorAll("tbody tr");

        rows.forEach(row => {
            let identificacion = row.cells[2].innerText.toLowerCase().trim();

            if (identificacion.includes(query)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    });
</script>
{% endblock %}